<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [ngClass]="{hidden: !(isHandset$ | async)}">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="user/patients" (click)="drawer.toggle()">Patients</a>
      <a mat-list-item routerLink="user/floorplan" (click)="drawer.toggle()">Floorplan</a>
      <a mat-list-item routerLink="" (click)="drawer.toggle(); authService.logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) && authService.getIsLoggedIn()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="headerContainer">
        <span>RadTriage</span>
        <span></span>
        <button *ngIf="!(isHandset$ | async) && authService.getIsLoggedIn()" mat-stroked-button color="accent" routerLink="user/patients">Patients</button>
        <button *ngIf="!(isHandset$ | async) && authService.getIsLoggedIn()" mat-stroked-button color="accent" routerLink="user/floorplan">Floorplan</button>  
        <button *ngIf="!(isHandset$ | async) && authService.getIsLoggedIn()" mat-stroked-button color="accent" (click)="authService.logout()" routerLink="">Logout</button>  
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
