.container{
    padding: 4%;

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mat-mdc-row:hover .mat-mdc-cell {
    border-color: white;
    background-color: black;
    cursor: pointer;
}
  